<div class="user_formsContainer">
  <h1>Sign In Page</h1>
  <form class="user_forms" action="/users/create-session/" method="post">
    <!-- <label for="email">email:</label> -->
    <input type="email" name="email" id="email" placeholder="Email" required />

    <!-- <label for="password">Password:</label> -->
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />

    <button class="user_buttons" type="submit">Sign In</button>
  </form>
</div>
